// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../js/components/datepicker/css/bootstrap-datepicker3.min.css";

.reasons {
  .sub_reason {
    display: none;
    margin-top: 10px;
  }
}

.list-group {
  .account_sum {
    font-size: 1.3em;
    a {
      font-size: 0.8em;
    }
  }
  .help-block {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.bill_value {
  font-size: 1.3em;
}

.bill_date {
}

.bill_item {
  &.loading {
    opacity: 0.8;
  }
}

#expensemap {
  height: 300px;
}